<a href="https://colab.research.google.com/github/dmpog08/Python-labs/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B5_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Сводная таблица pivot_table

Сводная таблица - это мощный инструмент для обобщения и представления данных.

В Pandas для подготовки сводных таблиц вызывают метод **pivot_table()**.

Аргументы метода:

• index — ключи для группировки по индексу (строке)

• columns — ключи для группировки столбцов

• values — значения, по которым мы хотим увидеть сводную таблицу (столбцы для агрегирования)

• aggfunc — функция, применяемая к значениям (т.е. что делать с повторяющимися значениями)

<img src="https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/pic/pivot_table_pandas.png" >

Построим сводную таблицу для задачи по SEO-оптимизации.
Для начала загрузите дата-сет data.final, полученный в результате выполнения предыдущей задачи (объединения таблиц), сохраните ешл в переменной df.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/labs/data_final.csv")
df.head(30)

,subcategory_id,source,visits,subcategory_name,category_id,category_name
0,cf2e61c7af,direct,501165,Мобильные телефоны,09f279a643,Электроника
1,0cd903d1cc,direct,126342,Ноутбуки,3509869a61,Компьютерная техника
2,ef35bc88a7,direct,95626,Телевизоры,09f279a643,Электроника
3,6ff9f4014c,direct,75680,Планшеты,3509869a61,Компьютерная техника
4,72bc238e4d,direct,64435,Наушники и Bluetooth-гарнитуры,09f279a643,Электроника
5,88c78ea685,direct,39638,Шины,65922fa39c,Авто
6,179bfacf4a,direct,31007,Умные часы и браслеты,09f279a643,Электроника
7,b0fb8f259a,direct,30324,Мониторы,3509869a61,Компьютерная техника
8,3c67eb2d90,direct,25878,Наручные часы,6074ad29ac,"Одежда, обувь и аксессуары"
9,24e6c815c6,direct,25276,Лекарственные препараты и БАДы,10a493e03b,Товары для здоровья
10,00fd6e5a87,direct,22064,Стиральные машины,5a0d8ac946,Бытовая техника
11,29c9b62225,direct,20920,Холодильники,5a0d8ac946,Бытовая техника
12,3cc6f62679,direct,20886,Видеокарты,3509869a61,Компьютерная техника
13,c4412ce45c,direct,19614,Принтеры и МФУ,3509869a61,Компьютерная техника
14,4a57f562b8,direct,18079,Коляски,7dbac4c1a3,Детские товары
15,63d35150a7,direct,17616,Оборудование Wi-Fi и Bluetooth,3509869a61,Компьютерная техника
16,fdabd3c725,direct,17167,Пылесосы,5a0d8ac946,Бытовая техника
17,08593bd62f,direct,16009,Велосипеды,ae99947659,Спорт и отдых
18,5835164e67,direct,15377,Внутренние жесткие диски,3509869a61,Компьютерная техника
19,5c5c31b04a,direct,15315,Материнские платы,3509869a61,Компьютерная техника
20,d891b3c5d5,direct,15167,Видеорегистраторы,65922fa39c,Авто
21,ffa1fc88a2,direct,14776,Фотоаппараты,09f279a643,Электроника
22,8f30c6ac97,direct,13836,Кофеварки и кофемашины,5a0d8ac946,Бытовая техника
23,eb317da761,direct,13778,Парфюмерия,655ccc3c49,Товары для красоты
24,01f8276040,direct,12509,Процессоры (CPU),3509869a61,Компьютерная техника
25,18436f1c4c,direct,12497,Варочные панели,5a0d8ac946,Бытовая техника
26,389068f27f,direct,12274,Плиты,5a0d8ac946,Бытовая техника
27,79164a43ea,direct,11141,Колесные диски,65922fa39c,Авто
28,367be1ab13,direct,10552,Портативная акустика,09f279a643,Электроника
29,a659a61627,direct,10517,Духовые шкафы,5a0d8ac946,Бытовая техника

## Поворот данных

Создавать сводную таблицу **(pivot_table)** лучше всего последовательно. Добавляйте элементы по одному и проверяйте каждый шаг, чтобы убедиться, что вы получаете ожидаемые результаты. Самая простая сводная таблица должна иметь **DataFrame** и индекс **(index)**.

В этом примере давайте использовать **category_name** в качестве индекса:

**pd.pivot_table(df, index=["category_name"])**

In [ ]:
df_pivot = pd.pivot_table(df, index=["category_name"], values=["visits"])
print(df_pivot.head(10))

                                  visits
category_name
Авто                         4328.489583
Бытовая техника              7012.164557
Дача, сад и огород           1511.142857
Детские товары               1657.736434
Досуг и развлечения           959.428571
Компьютерная техника        12523.693548
Оборудование                  475.884615
Одежда, обувь и аксессуары   1486.037500
Продукты                      595.454545
Спорт и отдых                2187.768519

У вас может быть несколько индексов. Фактически, большинство аргументов **pivot_table** могут принимать несколько значений в качестве элементов списка. Добавьте в список индексов переменную **subcategory_name**.

In [ ]:
pivot_table = pd.pivot_table(df, index=["category_name", 'subcategory_name'], values=["visits"])
print(pivot_table.head(10))

                                           visits
category_name subcategory_name
Авто          Автоакустика                10674.0
              Автомагнитолы               13236.5
              Автомобильные инверторы       147.5
              Автомобильные компрессоры     598.5
              Автомобильные телевизоры     1610.5
              Автомобильные холодильники    244.5
              Автосигнализации              760.0
              Аккумуляторные батареи       1916.0
              Антифризы                    1152.0
              Багажники, рейлинги           503.0

Вы могли заметить, что сводная таблица достаточно умна, чтобы начать агрегирование данных и их обобщение, группируя категории товаров (**category_name**) с их подкатегориями (**subcategory_name**). Теперь мы начинаем понимать, что может сделать для нас сводная таблица.

Поскольку в данном случае столбец с количественной переменной только один (**visits**), он автоматически определился в качестве значения параметра **values**. Однако, можно явно определить столбцы, которые нам нужны, с помощью этого параметра **values**:

**pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"])**

In [ ]:
pivot_table = pd.pivot_table(df, index=["category_name", 'subcategory_name'], values=["visits"])
print(pivot_table.head(10))

                                           visits
category_name subcategory_name
Авто          Автоакустика                10674.0
              Автомагнитолы               13236.5
              Автомобильные инверторы       147.5
              Автомобильные компрессоры     598.5
              Автомобильные телевизоры     1610.5
              Автомобильные холодильники    244.5
              Автосигнализации              760.0
              Аккумуляторные батареи       1916.0
              Антифризы                    1152.0
              Багажники, рейлинги           503.0

Столбец цен (**visits**) по умолчанию усредняет данные, но мы можем произвести подсчет количества или суммы. Добавить их можно с помощью параметра **aggfunc**:

**pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], aggfunc='sum')**

In [ ]:
pivot_table = pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], aggfunc='sum')
print(pivot_table.head(10))

                                          visits
category_name subcategory_name
Авто          Автоакустика                 21348
              Автомагнитолы                26473
              Автомобильные инверторы        295
              Автомобильные компрессоры     1197
              Автомобильные телевизоры      3221
              Автомобильные холодильники     489
              Автосигнализации              1520
              Аккумуляторные батареи        3832
              Антифризы                     2304
              Багажники, рейлинги           1006

**Aggfunc** может принимать список функций.

Давайте попробуем узнать среднее значение и количество:

In [ ]:
pivot_table_mean = pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], aggfunc='mean')
print(pivot_table_mean.head(10))

                                           visits
category_name subcategory_name
Авто          Автоакустика                10674.0
              Автомагнитолы               13236.5
              Автомобильные инверторы       147.5
              Автомобильные компрессоры     598.5
              Автомобильные телевизоры     1610.5
              Автомобильные холодильники    244.5
              Автосигнализации              760.0
              Аккумуляторные батареи       1916.0
              Антифризы                    1152.0
              Багажники, рейлинги           503.0

Если мы хотим увидеть визиты с разбивкой по источникам трафика (**source**), переменная **columns** позволяет нам определить один или несколько столбцов.

Одна из сложностей **pivot_table** - это использование столбцов (**columns**) и значений (**values**).

Помните, что столбцы необязательны - они предоставляют дополнительный способ сегментировать актуальные значения, которые вам нужны.

Функции агрегирования применяются к перечисленным значениям (**values**):

**pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], columns=["source"], aggfunc='sum'])**

In [ ]:
pivot_table = pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], columns=["source"], aggfunc='sum')
print(pivot_table.head(10))

                                         visits
source                                   direct organic
category_name subcategory_name
Авто          Автоакустика                 5915   15433
              Автомагнитолы                7783   18690
              Автомобильные инверторы       145     150
              Автомобильные компрессоры     407     790
              Автомобильные телевизоры      975    2246
              Автомобильные холодильники    204     285
              Автосигнализации              494    1026
              Аккумуляторные батареи       1175    2657
              Антифризы                     736    1568
              Багажники, рейлинги           342     664

Теперь вы видите название категории и её подкатегории со значениями объёма трафика по каждой.

Как видно, основная категория включает в себя подкатегорию и это представлено в структуре датафрейма: категория отображена иерархически главной над подкатегорией. Такие датафреймы содержат в себе мультииндекс. Часто при работе с такими датафреймами мультииндекс убирают, чтобы категория была отображена на каждой строчке датафрейма:

**pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"],
               columns=["source"], aggfunc='sum').reset_index()**

In [ ]:
pd.pivot_table(df, index=['category_name', 'subcategory_name'], values=["visits"], columns=["source"], aggfunc='sum').reset_index()
print(pivot_table.head(10))

                                         visits
source                                   direct organic
category_name subcategory_name
Авто          Автоакустика                 5915   15433
              Автомагнитолы                7783   18690
              Автомобильные инверторы       145     150
              Автомобильные компрессоры     407     790
              Автомобильные телевизоры      975    2246
              Автомобильные холодильники    204     285
              Автосигнализации              494    1026
              Аккумуляторные батареи       1175    2657
              Антифризы                     736    1568
              Багажники, рейлинги           342     664

В таблице выше суммы визитов **visits** по каждому из источников **source (direct и organic)** представлены в отдельных столбцах. Такой вид таблицы называется «широкий». Он удобен, когда нужно сравнить значения столбцов. Хорошо заметно, например, что в подкатегории «Автомобильные инверторы» количество визитов из источников **direct** и **organic** практически одинаково, а в подкатегории «Автомагнитолы» из источника **organic** пришло почти в два раза больше посетителей, чем из **direct**.

## Расширенная фильтрация сводной таблицы

После того, как вы сгенерировали свои данные, они находятся в **DataFrame**, поэтому можно фильтровать их, используя обычные методы **DataFrame**.

Если вы хотите посмотреть только на одну категорию, например, "Товары для дома":

**data_pivot = pd.pivot_table(df, index=['category_name', 'subcategory_name'], values='visits', columns='source',
                            aggfunc='sum').reset_index()**
**print((data_pivot[data_pivot['category_name']=='Товары для дома']).head(10))**

In [ ]:
data_pivot = pd.pivot_table(df, index=['category_name', 'subcategory_name'], values='visits', columns='source', aggfunc='sum').reset_index()
print((data_pivot[data_pivot['category_name']=='Товары для дома']).head(10))

source    category_name          subcategory_name  direct  organic
646     Товары для дома                Аксессуары     219      329
647     Товары для дома    Аксессуары для готовки     216      326
648     Товары для дома        Банки для хранения     113       58
649     Товары для дома         Блюда и салатники     300      550
650     Товары для дома          Бокалы и стаканы     750     1595
651     Товары для дома                       Бра     265      452
652     Товары для дома                      Вазы     142      142
653     Товары для дома         Вешалки напольные     304      562
654     Товары для дома  Встраиваемые светильники     306      563
655     Товары для дома       Выпечка и запекание     698     1460

Или, например, мы можем узнать на какие товары запросы с органического трафика в разы больше, чем с прямого. Для этого создадим в таблице **data_pivot** новый столбец **'ratio'** и сохраните в нём значение отношения органического трафика **'organic'** к прямому **'direct'**.

Отсортируем таблицу по столбцу 'ratio' в порядке убывания. Выведите первые 10 строк.

**data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']**

**data_my = data_pivot.sort_values(by = 'ratio', ascending=False)**

**print(data_my.head(10))**

In [ ]:
data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']
data_my = data_pivot.sort_values(by = 'ratio', ascending=False)
print(data_my.head(10))

source           category_name                    subcategory_name  direct  \
45                        Авто                                Шины   39638
105            Бытовая техника                   Стиральные машины   22064
468              Спорт и отдых                          Велосипеды   16009
205             Детские товары                             Коляски   18079
609     Строительство и ремонт                  Сварочные аппараты    6175
678            Товары для дома                 Компьютерные кресла    6208
330       Компьютерная техника                          Клавиатуры    6224
921                Электроника  Универсальные внешние аккумуляторы    6146
866                Электроника                           TV-тюнеры    6275
117            Бытовая техника                        Холодильники   20920

source  organic     ratio
45       153859  3.881604
105       64570  2.926487
468       46087  2.878818
205       52005  2.876542
609       17325  2.805668
678       17407  2.803963
330       17417  2.798361
921       17115  2.784738
866       17427  2.777211
117       57985  2.771750

# Задачи для самостоятельного выполнения

Для начала давайте представим, что мы являемся аналитиками в фирме по продаже компьютеров, программного обеспечения к ним, а также оказываем услуги по техническому сопровождению. Нам поставлена задача проанализировать участие компании в различных аукционах.

1. Прочитайте и сохраните файл "baza.xlsx" с данными аукционов в переменную data_pd.

In [ ]:
data_pd = pd.read_excel('/content/drive/MyDrive/labs/baza.xlsx')
print(data_pd.head(10))

   Аукцион  Контрагент        Контакт      Менеджер             Продукт  \
0   424845  Ильин и Ко   Сергей Ильин  Илья Сергеев           Компьютер
1   312058  Ильин и Ко   Сергей Ильин  Илья Сергеев                Софт
2   918390  Ильин и Ко   Сергей Ильин  Илья Сергеев  Тех. сопровождение
3   997345  Ильин и Ко   Сергей Ильин  Илья Сергеев           Компьютер
4   496901  Шахты плюс  Данил Сидоров  Илья Сергеев           Компьютер
5   800437  Шахты плюс  Данил Сидоров  Илья Сергеев           Компьютер
6   967756  Шахты плюс  Данил Сидоров  Илья Сергеев                Софт
7   871434       Альма     Женя Сидин  Илья Сергеев  Тех. сопровождение
8   131102       Альма     Женя Сидин  Илья Сергеев           Компьютер
9   191777   Микрошкин   Сергей Минин   Павел Попов           Компьютер

   Количество   Цена           Статус
0           4  45200  на рассмотрении
1           2  37600  на рассмотрении
2           2  21200       в ожидании
3           5  39100          отменен
4           3  13600          выигран
5           1  24400       в ожидании
6           1   6700  на рассмотрении
7           2   7000       в ожидании
8           4  42000          отменен
9           3  28900          выигран

2. Cоздайте сводную таблицу сводную таблицу по столбцу Контрагент:

In [ ]:
data_pivot = pd.pivot_table(data_pd, index=['Контрагент'], values=['Аукцион','Количество','Цена'])
print(data_pivot.head(5))

                      Аукцион  Количество   Цена
Контрагент
Альма           501268.000000    3.000000  24500
Ильин и Ко      663159.500000    3.250000  35775
Кружка и ложка  299563.750000    2.750000  27000
Микрошкин       230691.750000    3.500000  23275
Шахты плюс      755031.333333    1.666667  14900

3. Создайте сводную таблицу по нескольким индексируемым столбцам  'Контакт', 'Менеджер':

In [ ]:
data_pivot = pd.pivot_table(data_pd, index=['Контакт','Менеджер'], values=['Аукцион','Количество','Цена'])
print(data_pivot.head(5))

                                  Аукцион  Количество   Цена
Контакт       Менеджер
Виктор Юдин   Павел Попов   299563.750000    2.750000  27000
Данил Сидоров Илья Сергеев  755031.333333    1.666667  14900
Женя Сидин    Илья Сергеев  501268.000000    3.000000  24500
Сергей Ильин  Илья Сергеев  663159.500000    3.250000  35775
Сергей Минин  Павел Попов   230691.750000    3.500000  23275

4. По умолчанию сводная таблица выводится по всем числовым полям, однако это не всегда удобно, а иногда и лишено смысла, поэтому можно выводить сводные данные только по отдельным столбцам. Выведите только столбец "Стоимость", для этого добавьте параметр values=['Цена']:

In [ ]:
pivot_table = pd.pivot_table(data_pd, index=['Контакт', 'Менеджер'], values=['Цена'])
print(pivot_table.head(5))

                             Цена
Контакт       Менеджер
Виктор Юдин   Павел Попов   27000
Данил Сидоров Илья Сергеев  14900
Женя Сидин    Илья Сергеев  24500
Сергей Ильин  Илья Сергеев  35775
Сергей Минин  Павел Попов   23275

5. Столбец с ценой по умолчанию выводит среднее значение, однако нам скорее интересна сумма продаж. Добавляем параметр aggfunc='sum':

In [ ]:
pivot_table = pd.pivot_table(data_pd, index=['Контакт', 'Менеджер'], values=['Цена'], aggfunc='sum')
print(pivot_table.head(5))

                              Цена
Контакт       Менеджер
Виктор Юдин   Павел Попов   108000
Данил Сидоров Илья Сергеев   44700
Женя Сидин    Илья Сергеев   49000
Сергей Ильин  Илья Сергеев  143100
Сергей Минин  Павел Попов    93100

6. С помощью параметра columns выведите в столбцы наименование продуктов:

In [ ]:
pivot_table = pd.pivot_table(data_pd, index=['Контакт', 'Менеджер'], columns=['Продукт'], values=['Цена'], aggfunc='sum')
print(pivot_table.head(5))

                                Цена
Продукт                    Компьютер Монитор     Софт Тех. сопровождение
Контакт       Менеджер
Виктор Юдин   Павел Попов    83900.0  9300.0      NaN            14800.0
Данил Сидоров Илья Сергеев   38000.0     NaN   6700.0                NaN
Женя Сидин    Илья Сергеев   42000.0     NaN      NaN             7000.0
Сергей Ильин  Илья Сергеев   84300.0     NaN  37600.0            21200.0
Сергей Минин  Павел Попов    43900.0     NaN  46900.0             2300.0

7. Наверное вы обратили внимание, что в ячейках, где нет данных пусто, хотя нам привычнее, что бы в таких полях указывалось бы значение 0. Добавьте параметр fill_value=0:

In [ ]:
pivot_table = pd.pivot_table(data_pd, index=['Контакт', 'Менеджер'], columns=['Продукт'], values=['Цена'], aggfunc='sum', fill_value=0)
print(pivot_table.head(5))

                                Цена
Продукт                    Компьютер Монитор   Софт Тех. сопровождение
Контакт       Менеджер
Виктор Юдин   Павел Попов      83900    9300      0              14800
Данил Сидоров Илья Сергеев     38000       0   6700                  0
Женя Сидин    Илья Сергеев     42000       0      0               7000
Сергей Ильин  Илья Сергеев     84300       0  37600              21200
Сергей Минин  Павел Попов      43900       0  46900               2300

8. Вероятно полезно было бы рассматривать эффективность деятельности наших менеджеров не только по стоимости продаж, но и по их количеству. Добавьте в параметр values переменную  "Количество"

In [ ]:
pivot_table = pd.pivot_table(data_pd, index=['Контакт', 'Менеджер'], columns=['Продукт'], values=['Цена', 'Количество'], aggfunc='sum', fill_value=0)
print(pivot_table.head(5))

                           Количество                                  \
Продукт                     Компьютер Монитор Софт Тех. сопровождение
Контакт       Менеджер
Виктор Юдин   Павел Попов           6       4    0                  1
Данил Сидоров Илья Сергеев          4       0    1                  0
Женя Сидин    Илья Сергеев          4       0    0                  2
Сергей Ильин  Илья Сергеев          9       0    2                  2
Сергей Минин  Павел Попов           8       0    4                  2

                                Цена
Продукт                    Компьютер Монитор   Софт Тех. сопровождение
Контакт       Менеджер
Виктор Юдин   Павел Попов      83900    9300      0              14800
Данил Сидоров Илья Сергеев     38000       0   6700                  0
Женя Сидин    Илья Сергеев     42000       0      0               7000
Сергей Ильин  Илья Сергеев     84300       0  37600              21200
Сергей Минин  Павел Попов      43900       0  46900               2300

9. Выведите продажи только менеджера "Илья Сергеев":

In [ ]:
pivot_table = pivot_table.reset_index()
print((pivot_table[pivot_table['Менеджер'] == "Илья Сергеев"]).head(10))

               Контакт      Менеджер Количество               \
Продукт                               Компьютер Монитор Софт
1        Данил Сидоров  Илья Сергеев          4       0    1
2           Женя Сидин  Илья Сергеев          4       0    0
3         Сергей Ильин  Илья Сергеев          9       0    2

                                Цена
Продукт Тех. сопровождение Компьютер Монитор   Софт Тех. сопровождение
1                        0     38000       0   6700                  0
2                        2     42000       0      0               7000
3                        2     84300       0  37600              21200